@import url('https://fonts.googleapis.com/css?family=Limelight');

body{
padding-top:0px;
}

ul{
    padding-left:15px;
}

li{
    font-family:"Times";
    font-size:120%;
}

input, textarea{
    border-radius: 5px !important;
    border:1px solid #2780E3 !important;
}

.logo_name{
    font-family:'Limelight';
    font-size:250%;
    line-height:75%;
    color:#05a194ff;
}

.logo_l1{
    font-size:125.3%;
    line-height:50%;
    margin:15px 0px 10px 0px;
}

.logo_l2{
    font-style:italic;
    font-size:115%;
    text-align: justify;
    margin-bottom:10px;
}

.navbar-expand-lg, .navbar-collapse, .collapse{
    justify-content: space-between !important;
}

.roofs{
    background-image: url('../img/roofs-185525918.jpg');
    background-position: center center;
    background-size: 100%;
}

.rooferback{
    background-image: url('../img/istockphoto-1097975420-2048x2048.jpg');
    background-position: center bottom;
    background-size: 100%;
    margin-top:0px;
    padding-top:0px;
}

.distance-both{
    margin:10px 0px 10px 0px;
}

.white{
    color:#fff !important;
}

.blue-background{
    background-color: #2562c4;
}

.space-top{
    padding-top:20px;
}

.space-both{
    padding-top:40px;
    padding-bottom:20px;
}

.backround-shadow{
    box-shadow: 0px 0px 8px grey;
    margin-top:-15px;
}

h1, h2, h3, h4, h5, h6, .blue-bold, .blue-special{
    color:#2780E3 !important;
}

.jumbotron{
    width:100%;
}

.news_thumbnail{
    height:200px;
    width:100%;
}

.border-shadow{
    border-top:3px solid #fff !important;
    border-bottom:3px solid #fff;
    box-shadow:0px 0px 8px grey;
}

.bg-primary-light{
    background: #abccf7;
}

.dark-glass{
    padding:30px;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border:1px solid #fff;
    margin:30px 0px 30px 0px;
}

.on-right{
    float:right;
}

.display-3{
    margin-bottom:4%;
}

.enquiry-form{
    min-height:200px;
}

.postcode{
    text-transform: uppercase;
}

.btn-right{
    float:right;
}

::placeholder { /* Recent browsers */
    text-transform: none;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.bg-white{
    background:#fff;
}

.center{
    text-align: center !important;
}

.medium, .medium:hover{
    font-size: 160%;
    color:#959595 !important;
}

.medium:hover{
    color:#abccf7 !important;
    text-decoration:none;
}

.space-inside{
    padding:20px 0px 10px 0px;
}

.blue-bold{
    font-weight: 500;
}

.blue-special, .secondary{
    font-size:250%;
}

.left{
    /* clear: both; */
    float: left;
}

.right{
    /* clear: both; */
    float: right;
}

#success_modal{
    display:none;
    background: #05a194ff;
    border: 1px solid #05a194ff;
    width:300px;
    height:180px;
    position:fixed;
    top:50%;
    left:50%;
    margin-top: -90px;
    margin-left: -150px;
}

.space-down{
    padding-bottom:70px;
}

.space-down-30{
    padding-bottom:30px;
}

@media (min-width:320px)  { 
    .rooferback {
        background-size: 300%;
    }
    .badge-guarnatee{
        width:85%;
    }
    .blue-special{
        font-size:165%;
    }
    .secondary{
        font-size:210%;
        text-align:center;
    }
    .phone-ico{
        width:9%;
    }
    .visible-block{
        display:none;
    }
 }

@media (min-width:480px)  { 
    .rooferback {
        background-size: 200%;
    }
    .badge-guarnatee{
        width:70%;
    }
    .blue-special{
        font-size:190%;
    }
    .secondary{
        font-size:230%;
        text-align:center;
    }
    .phone-ico{
        width:8%;
    }
    .visible-block{
        display:none;
    }
}

@media (min-width:600px)  { 
    .rooferback {
        background-size: 150%;
    }
    .badge-guarnatee{
        width:60%;
    }
    .blue-special{
        font-size:210%;
    }
    .secondary{
        font-size:250%;
        text-align:center;
    }
    .phone-ico{
        width:7%;
    }
    .visible-block{
        display:none;
    }
}

@media (min-width:801px)  { 
    .rooferback {
        background-size: 150%;
    }
    .badge-guarnatee{
        width:200%;
    }
    .blue-special{
        font-size:210%;
    }
    .secondary{
        font-size:250%;
        text-align:center;
    }
    .phone-ico{
        width:10%;
    }
    .visible-block{
        display:block;
    }
    .cloud-chat{
        background-image: url('../img/contact.svg');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top:0px;
        padding:100px 40px 0px 50px;
        height:350px 
    }
}

@media (min-width:1025px) {
    .rooferback {
        background-size: 100%;
    }
    .badge-guarnatee{
        width:180%;
    }
    .blue-special{
        font-size:250%;
    }
    .secondary{
        font-size:250%;
        text-align:left;
    }
    .phone-ico{
        width:8%;
    }
    .distance-both{
        margin:18px 0px 16px 0px;
    }
    .visible-block{
        display:block;
    }
    .cloud-chat{
        background-image: url('../img/contact.svg');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: auto;
        margin-top:0px;
        padding:70px 120px 0px 140px;
        height:350px   
    }
}

@media (min-width:1281px) {
    .rooferback {
        background-size: 100%;
    }
    .badge-guarnatee{
        width:150%;
    }
    .blue-special{
        font-size:250%;
    }
    .secondary{
        font-size:250%;
        text-align:left;
    }
    .phone-ico{
        width:6%;
    }
    .distance-both{
        margin:18px 0px 16px 0px;
    }
    .visible-block{
        display:block;
    }
    .cloud-chat{
        background-image: url('../img/contact.svg');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: auto;
        margin-top:0px;
        padding:70px 120px 0px 140px;
        height:350px   
    }
}